* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f5ff;
  color: #222;
}

header {
  background: linear-gradient(90deg, #4c3aff, #00c3ff);
  padding: 15px;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  margin-top: 10px;
}

nav button {
  background: white;
  border: none;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background: #e3e6ff;
}

main {
  margin-top: 100px; /* pour compenser le header fixe */
}

main section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 15px;
  color: rgb(50,50,90);
}

p, li {
  font-size: 18px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  padding: 25px;
  background: rgb(20,20,50);
  color: white;
}
